body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f3ece2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box{
    background: #faf6f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, green, 0, 0.1);
    width: 300px;
    text-align: center; 
}