body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f3ece2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box{
    background: #faf6f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, green, 0, 0.1);
    width: 300px;
    text-align: center; 
}

.login-box h2{
    margin-bottom: 50px;
    font-size: 20px;
}
.login-box button{
    width: 100%;
    padding: 10px;
    background: #a78d78;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.login-box button:hover{
    background: #D0C2B7;
}

#hi {
    background: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}